body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #1f1f1f;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

header {
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #333;
  border-radius: 15px 15px 0 0;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

#logs-container {
  padding: 15px;
}

#logs {
  list-style: none;
  padding: 0;
}

#logs li {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

#controls {
  text-align: center;
  margin-top: 15px;
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
}

button {
  margin: 5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  filter: brightness(90%);
}

.active {
  background-color: #4CAF50;
}

.active:hover {
  background-color: #45a049;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
